<div class="container">
  <div class="header-container">
    <div class="header">Quikk Moolah</div>
    <div class="menu"></div>
    <button
      class="btn get-started-btn-fill btn-fill"
      [routerLink]="['/auth/register']"
    >
      Get Started
    </button>
  </div>

  <div class="content-container">
    <div>
      <div class="main-title">
        Send money <br />
        Quikk
      </div>
      <div class="sub-title">
        With just a click of 
        a button.
      </div>
    </div>

    <div class="main-image-desktop">
      <img src="assets/images/money-transfer.svg" alt="money transfer" />
    </div>
    <div class="main-image-mobile">
      <img src="assets/images/money-transfer-small.svg" alt="money transfer" />
    </div>
  </div>
</div>
