@import "./src/themes.scss";

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.register-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
  }

  .sub-title {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
  }

  .register-content {
    width: 80%;
    @media (min-width: 800px) {
      width: 30%;
    }
    display: flex;
    flex-direction: column;
  }

  .forgot-password {
    font-size: 12px;
    text-align: end;
    color: $primary-color;
    cursor: pointer;
  }

  .alternative {
    font-weight: 450;
    font-size: 13px;
    text-align: center;
    margin-top: 16px;

    span {
      color: $primary-color;
      cursor: pointer;
    }
  }

  .or-line-divider {
    border-top: 1px solid #dcdfe6;
    position: relative;
    margin-top: 40px;

    p {
      position: absolute;
      background: white;
      width: 50px;
      transform: translate(-50%, -50%);
      text-align: center;
      left: 50%;
    }

    .mat-form-field {
      position: relative;
      margin-bottom: 20px;

    
      input {
        padding-right: 30px; 
      }
    
      mat-icon {
        position: absolute;
        top: 50%;
        right: 8px; 
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }

  .google-card {
    margin-top: 20px;
  }
}
